@font-face {
    font-family: "Raleway";
    src: url("polices/Raleway-VariableFont_wght.ttf") format("truetype");
         
    font-weight: normal;
    font-style: normal;
}
/*Général*/

body
{
    height: 100vh;
    margin:auto;
    font-family:"Raleway", Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1.3fr 1.3fr 1.3fr 1.05fr 1.05fr;
    grid-template-rows: 100px 300px 680px 583px 218px;
    grid-template-areas: 
    "hautPage hautPage hautPage hautPage hautPage"
    "sectionRecherche sectionRecherche sectionRecherche sectionRecherche sectionRecherche"
    "sectionHebergements sectionHebergements sectionHebergements sectionPopulaires sectionPopulaires"
    "sectionActivites sectionActivites sectionActivites sectionActivites sectionActivites"
    "basPage basPage basPage basPage basPage";
}
h1
{
    font-size: 1.2rem;
    font-weight: 1000;
}
h2
{
    font-size: 1.05rem;
    font-weight: 1000;
}
p
{
    font-size: 0.95rem;
}
a
{
    font-size: 0.95rem;
}
.boldPrice
{
    font-weight: bold;
}



/*Partie menu*/
.hautPage
{
    grid-area: hautPage;
    display: flex;
    align-items: center;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 0px;
    margin-bottom: 0px;
}
.hautPage--logo
{
    margin-right: 55%;
}
.hautPage--logo img
{
    width: 100px;
    height: 45px;
}
.hautPage--bouttons
{
    display:flex;
    width: 25%;
    height: 100%;
    justify-content: space-around;
    
}

.hautPage--bouttons--texte
{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 0.95rem;
    border-top: solid #F2F2F2;
    transition: 0.2s;
}
.hautPage--bouttons--texte:hover
{
    color: #0065FC;
    cursor: pointer;
    border-top: solid #0065FC;
}
.hautPage--bouttons a:any-link
{
    color: black;
    text-decoration: none;
}
.hautPage--bouttons--texte:hover a
{
    color: #0065FC;
}
.hautPage--bouttons--texte_bleu
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 12.5%;
    border-top: solid #F2F2F2;
    color: #0065FC;
    font-weight: bold;
}
.hautPage--bouttons--texte_bleu:hover
{
    cursor: pointer;
    border-top: solid #0065FC;
}

/*Section recherche*/
.sectionRecherche
{
    grid-area: sectionRecherche;
    display: flex;
    margin-left: 2vw;
    margin-right: 2vw;
    flex-direction: column;
    justify-content: space-between;
}
.sectionRecherche--titre--txt p
{
    height: 20px;
    margin-top: -5px;
}
.sectionRecherche--recherche
{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #F2F2F2;
    width: 420px;
    height: 45px;
    border-radius: 15px;
}
.sectionRecherche--recherche--boutton i
{   
    transform: scale(0);
    opacity: 0%;
    font-size: 0rem;
}
.sectionRecherche--recherche--boutton
{
    padding-top: 12px;
    background-color: #0065FC;
    height: 100%;
    width: 145px;
    color: white;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: bold;
    font-size: 1.05em;
}

.sectionRecherche--recherche--boutton:hover
{
    background-color: #DEEBFF ;
    color: #0065FC ;
    cursor: pointer;
    transition: 0.3s;
}
.sectionRecherche--recherche i
{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    color: black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 100%;
    width: 45px;
}
.sectionRecherche--recherche--inpt
{
    border:none;
    width: 235px;
    height: 100%;
    font-weight: bold;
    padding-left: 15px;
    font-size: 12pt;
}
.sectionRecherche--filtres
{
    display: flex;
    width: 980px;
    height: 50px;
    align-items: center;
    margin-top: 10px;
}
.sectionRecherche--filtres h2
{
    margin-right: 3%;
}
.container--bouttons
{
    height: 100%;
    width: 750px;
    display: flex;
    justify-content: space-between;
}
.sectionRecherche--filtres--bouttons
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 41px;
    border:solid 1px #F2F2F2;
    border-radius: 25px;
    min-width: fit-content;
}
.search_icon
{
    min-width: 41px;
    height: 41px;
    background-color: #DEEBFF ;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 48px;
}
.sectionRecherche--filtres--bouttons i
{
    color: #0065FC;
}
.sectionRecherche--filtres--bouttons h2
{
    padding-left: 5px;
    padding-right: 15px;
    font-size: 0.95rem;
    font-weight: bold;
    white-space: nowrap
}

.sectionRecherche--filtres--bouttons:hover
{
    cursor: pointer;
    transform: scale(1.04);
    transition: 0.2s;
    background-color: #F2F2F2;
}
.sectionRecherche--info
{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.sectionRecherche--info i 
{ 
    color: #0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    margin-right: 5px;
    margin-left: 5px;
    border: solid 1px #F2F2F2;
    border-radius:100%;
}


/*Section cases hébergements*/
#sectionHebergements
{
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-top: 25px;
    margin-left: 2vw;
    margin-right: 2vw;
    grid-area : sectionHebergements;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sectionHebergements--hebergement
{
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.sectionHebergements--hebergement--titre
{
    margin-bottom: 2.5%;
}
.sectionHebergements--hebergement--vignette
{
    display: flex;
    flex-wrap: wrap;
    height: 440px;
    justify-content: space-between;
}
.sectionHebergements--hebergement--vignette--case
{
    background-color: white;
    width: 30%;
    height: 200px;
    border-radius: 20px;
    box-shadow: 1px 1px 6px #8686863b;
}
.sectionHebergements--hebergement--vignette--case:hover
{
    cursor: pointer;
    background-color: #f2f2f2af;
    transform: scale(1.04);
    transition: 0.2s;
}
.sectionHebergements--hebergement--vignette--case--img
{
    margin-right: 1.5%;
    margin-left: 1.5%;
    margin-top: 1.5%;
    width: 97%;
    height: 58%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
}
.sectionHebergements--hebergement--vignette--case h2
{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-left: 4%;
}
.sectionHebergements--hebergement--vignette--case--txt2
{
    font-size: 0.9em;
    margin-left: 4%;
}
.sectionHebergements--hebergement--vignette--case--etoiles
{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 4%;
}
.sectionHebergements--hebergement--vignette--case--etoiles .fas
{
    color: #0065FC;
    margin-right: -5px;
    font-size: 10pt;
}
.sectionHebergements--hebergement--vignette--case--etoiles .far
{
    color: rgb(153, 153, 153);
    margin-right: -5px;
    font-size: 10pt;
}
.sectionHebergements--affch
{
    margin-top: 3%;
    margin-left:1%;
}
.sectionHebergements--affch:hover
{
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.2s;
}

/*Section cases populaires*/
.sectionPopulaires
{
    margin-top: 25px;
    margin-left: 2vw;
    margin-right: 2vw;
    background-color: #F2F2F2;
    border-radius: 20px;
    grid-area: sectionPopulaires;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.sectionPopulaires--titre
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.5%;
    margin-left: 8%;
    margin-right:8%;
}
.sectionPopulaires--vignette
{
    display: flex;
    width: 85%;
    height: 140px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 5%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 1px 1px 6px #8686863b;
}
.sectionPopulaires--vignette h2
{
    margin-top: 7%;
    margin-left: 7%;
}
.sectionPopulaires--vignette--blcTxt-txt2
{
    font-size: 0.95rem;
    margin-top: -5%;
    margin-left: 7%;
}
.sectionPopulaires--vignette--blcTxt-etoiles
{
    color: #0065FC;
    margin-top:40px;
    margin-left: 7%;

}
.sectionPopulaires--vignette--blcTxt-etoiles .far
{
    color: rgb(153, 153, 153);
    font-size: 10pt;
    padding-right: -20px;
}
.sectionPopulaires--vignette--blcTxt-etoiles .fas
{
    color: #0065FC;
    font-size: 10pt;
}

.sectionPopulaires--vignette:hover
{
    cursor: pointer;
    background-color: #f2f2f2af;
    transform:scale(1.04);
    transition: 0.2s;
}
.sectionPopulaires--vignette--img
{
    width: 130px;
    height: 130px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
}
/*Section cases activités*/
#sectionActivites
{
    grid-area: sectionActivites;
    margin-top: 50px;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 25px;
}
.sectionActivites--vignettes
{
    display: flex;
    border-radius: 15px;
    height: 80%;
    padding-top: 2%;
    justify-content: space-between;
}
.sectionActivites--vignettes--grandeVignette
{
    height: 100%;
    width: 22%;
    border-radius: 15px;
    box-shadow: 1px 1px 6px #8686863b;
}
.sectionActivites--vignettes--grandeVignette:hover
{
    cursor: pointer;
    background-color: #f2f2f2af;
    transform:scale(1.04);
    transition: 0.2s;
}
.sectionActivites--vignettes--grandeVignette--img
{
    height: 90%;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}
.sectionActivites--vignettes--grandeVignette h2
{
    margin-left: 3%;
    margin-top: 10px;
}
.sectionActivites--vignettes--petitesVignettes
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 20%;
    border-radius: 15px;
}
.sectionActivites--vignettes--petitesVignettes--case
{
    height: 45%;
    width: 100%;
    border-radius: 15px;
    box-shadow: 1px 1px 6px #8686863b;
}
.sectionActivites--vignettes--petitesVignettes--case1
{
    height: 60%;
    width: 100%;
    border-radius: 15px;
    box-shadow: 1px 1px 6px #8686863b;
}
.sectionActivites--vignettes--petitesVignettes--case2
{
    height: 30%;
    width: 100%;
    border-radius: 15px;
    box-shadow: 1px 1px 6px #8686863b;
}
.sectionActivites--vignettes--petitesVignettes--case:hover
{
    cursor: pointer;
    background-color: #f2f2f2af;
    transform:scale(1.04);
    transition: 0.2s;
}
.sectionActivites--vignettes--petitesVignettes--case1:hover
{
    cursor: pointer;
    background-color: #f2f2f2af;
    transform:scale(1.04);
    transition: 0.2s;
}
.sectionActivites--vignettes--petitesVignettes--case2:hover
{
    cursor: pointer;
    background-color: #f2f2f2af;
    transform:scale(1.04);
    transition: 0.2s;
}
.sectionActivites--vignettes--petitesVignettes--case h2
{
    margin-left: 2%;
    margin-top:10px;
}
.sectionActivites--vignettes--petitesVignettes--case1 h2
{
    margin-left: 2%;
    margin-top:10px;
}
.sectionActivites--vignettes--petitesVignettes--case2 h2
{
    margin-left: 2%;
    margin-top:10px;
}
.sectionActivites--petitesVignettes--case--img
{
    height: 80%;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}
.sectionActivites--petitesVignettes--case--img1
{
    height: 85%;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}
.sectionActivites--petitesVignettes--case--img2
{
    height: 68%;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

/*Section bas de page*/
.basPage
{
    display: flex;
    background-color: #F2F2F2;
    grid-area:basPage;
}
.basPage--colonne
{
    
    margin-left: 2vw;
    margin-right: 8vw;
    margin-top: 2%;
    margin-bottom: 5%;
}
.basPage--colonne--txt
{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.basPage--colonne--txt:hover
{
    color: grey;
    cursor: pointer;
}

/*TOUCH PAD*/

@media screen and (min-width:601px) and (max-width:1125px)
{
    body
    {
        margin:none;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 0.21fr 0.69fr 2.33fr 2.31fr 0.7fr;

    }

    .hautPage
    {
        grid-area: 1/1/2/3;
        flex-direction: column;
        justify-content: unset;
        align-items: unset;
        margin: 0%;
    }
    .hautPage--logo
    {
        margin-right: none;
        margin-top: 5%;
        margin-left: 5%;
        width: 100px;
        height:45px;
    }
    .hautPage--bouttons
    {
        width: 100%;
        height: 50px;
        margin-top: 5%;
        border-bottom:solid #F2F2F2;
    }
    .hautPage--bouttons--texte
    {
        border-top: none;
    }
    .hautPage--bouttons--texte:hover
    {
        border-top: none;
        border-bottom:solid #0065FC;
    }
    .hautPage--bouttons--texte_bleu
    {
        border-top: none;
        position: absolute;
        height: auto;
        top: 5%;
        right: 10%;
    }
    .hautPage--bouttons--texte_bleu:hover
    {
        border: none;
    }

    .sectionRecherche
    {
        grid-area: 2/1/3/3;
        height: 100%;
        width: 96%;
        margin-top: 15px;
        margin-right: 2%;
        margin-left: 2%;
        align-items: center;
    }
    .sectionRecherche--titre
    {
        width: 90%;
        margin-left: 5%;
    }
    .sectionRecherche--recherche
    {
        margin-top: 6%;
        margin-bottom: 3%;
        margin-left: 5%;
        width: 50%;
        height: 50px;
    }
    .sectionRecherche--recherche--boutton
    {   
        padding-top: 0px;
        width: 17%;
        border-radius: 15px;
        font-size: 0pt;
        color: transparent;
    }
    .sectionRecherche--recherche--boutton i
    {
        transform: scale(1);
        opacity: 100%;
        padding-left: 45%;
        padding-top: 0%;
        background-color: transparent;
        color: white ;
    }
    .sectionRecherche--recherche--boutton i:hover
    {
        color: #0065FC ;
    }
    .sectionRecherche--recherche--boutton:hover
    {
        color: transparent;
    }
    .sectionRecherche--recherche i
    {
        font-size: 12pt;
        width: 17%;
    }
    .sectionRecherche--recherche--inpt
    {
        width: 85%;
        font-size: 1.05rem
    }
    
    .sectionRecherche--filtres
    {
        width:90%;
        height: 35%;
        margin-left: 5%;
        margin-top: 0%;
        align-items: unset;
        flex-direction: column;
        justify-content: flex-start;
    }
    .container--bouttons
    {
        flex-wrap: wrap;
        width:90%;
        height: 75%;
    }
    .sectionRecherche--filtres--bouttons
    {
        border-radius: 100px;
    }
    .sectionRecherche--filtres--bouttons i
    {
        font-size: 12pt;
    }
    .sectionRecherche--info
    {
        width: 90%;
        height: 50px;
        align-items:space-between;
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 5%;
    }
    .sectionRecherche--info p 
    {
        margin-top: 0%;
    }
    .sectionRecherche--info i
    {
        font-size: 1rem;
        margin-bottom: 3%;
        margin-right: 1%;
        width: 20px;
        height: 20px;
        border-radius:100%;
        border:1px #F2F2F2;
    }
    #sectionHebergements
    {
        grid-area: 4/1/5/3;
        background-color: white;
        display: flex;
        flex-direction: column;
        margin: 0%;
        height: 100%;
    }
    .sectionHebergements--hebergement
    {
        height: 95%;
    }
    .sectionHebergements--hebergement--vignette
    {
        width: 100%;
        height: 90%;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .sectionHebergements--hebergement--titre
    {
        margin-left: 1%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .sectionHebergements--hebergement--vignette--case
    {
        width: 60%;
        height: 235px;
        margin-bottom: 3%;
    }
    .sectionHebergements--hebergement--vignette--case h2 
    {
        margin-top: 1px;
    }
    .sectionHebergements--hebergement--vignette--case--img
    {
        width: 97%;
        margin-top: 1.5%;
        margin-left: 1.5%;
        margin-right: 1.5%;

    }
    .sectionHebergements--hebergement--vignette--case--txt2
    {
        font-size: 1.05rem;
    }
    .sectionHebergements--hebergement--vignette--case--etoiles
    {
        margin-top: 0.5%;
    }
    .sectionHebergements--hebergement--vignette--case--etoiles .fas
    {
        font-size: 10pt;
    }
    .sectionHebergements--hebergement--vignette--case--etoiles .far
    {
        font-size: 10pt;
    }
    .sectionHebergements--affch h2
    {
        margin-top: 0%;
    }

    .sectionPopulaires
    {
        grid-area: 3/1/4/3;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0%;
        border-radius: 0px;
    }
    .sectionPopulaires--titre
    {
        margin-bottom: 4%;
        margin-left: 5%;
        font-size: 1.2rem;
    }
    .sectionPopulaires--vignette
    {
        width: 60%;
        height: 20%;

        align-items: center;
    }
    .sectionPopulaires--vignette--img
    {
        height: 95%;
        margin-left: 1%;
    }
    .sectionPopulaires--vignette h2
    {
        margin-top: -3%;
        margin-right: 20%;
    }
    .sectionPopulaires--vignette--blcTxt-txt2
    {
        font-size: 0.95rem;
    }
    .sectionPopulaires--vignette--blcTxt-etoiles
    {
        margin-top: 14%;
    }
    .sectionPopulaires--vignette--blcTxt-etoiles .far
    {
        font-size: 10pt;
    }
    .sectionPopulaires--vignette--blcTxt-etoiles .fas
    {
        font-size: 10pt;
    }
    #sectionActivites
    {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        grid-area: 5/1/6/3;
        display: flex;
        flex-direction: column;
        justify-content: unset;
    }
    #sectionActivites h1
    {
        margin-bottom: 6%;
    }
    .sectionActivites--vignettes
    {
        flex-direction: column;
        align-items: center;
    }
    .sectionActivites--vignettes--grandeVignette
    {
        width: 60%;
        height: 220px;
        margin-bottom: 5%;
    }
    .sectionActivites--vignettes--petitesVignettes
    {
        align-items: center;
        width: 100%;
        height: 45%;
        margin-bottom: 5%;
    }
    .sectionActivites--vignettes--grandeVignette--img
    {
        height: 85%;
    }
    .sectionActivites--vignettes--grandeVignette h2
    {
        margin-top: 3px;
    }
    .sectionActivites--vignettes--petitesVignettes--case
    {
        width: 60%;
        margin-bottom: 5%;
        height: 220px;
        box-shadow: 1px 1px 6px #8686863b;
    }
    .sectionActivites--vignettes--petitesVignettes--case1
    {
        width: 60%;
        height: 220px;
    }
    .sectionActivites--vignettes--petitesVignettes--case h2
    {
        margin-top: 3px;
    }
    .sectionActivites--vignettes--petitesVignettes--case1 h2
    {
        margin-top: 3px;
    }
    .sectionActivites--vignettes--petitesVignettes--case2 h2
    {
        margin-top: 3px;
    }
    .sectionActivites--petitesVignettes--case--img1
    {
        height: 85%;
    }
    .sectionActivites--vignettes--petitesVignettes--case2
    {
        width: 60%;
        margin-top: 5%;
        height: 195px;
    }
    .sectionActivites--petitesVignettes--case--img2
    {
        height: 85%;
    }
    .basPage
    {
        grid-area: 6/1/7/3;
        margin-left: 0;
        
    }
    .basPage--colonne
    {
        margin-left: 5%;
        margin-top: 4%;
        margin-bottom: 14%;
    }
    .basPage--colonne--txt
    {
        font-size: 0.95rem;
        margin-bottom: 1%;
    }
}

/*MOBILE*/

@media screen and (max-width:600px)
{
    body
    {
        margin:none;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 0.21fr 0.77fr 2.28fr 2.28fr 0.7fr;
    }
    .hautPage
    {
        grid-area: 1/1/2/2;
        flex-direction: column;
        justify-content: unset;
        align-items: unset;
        margin: 0%;
    }
    .hautPage--logo
    {
        margin-right: none;
        margin-top: 5%;
        margin-left: 5%;
        width: 100px;
        height:45px;
    }
    .hautPage--bouttons
    {
        width: 100%;
        height: 50px;
        margin-top: 5%;
        border-bottom:solid #F2F2F2;
    }
    .hautPage--bouttons--texte
    {
        border-top: none;
    }
    .hautPage--bouttons--texte:hover
    {
        border-top: none;
        border-bottom:solid #0065FC;
    }
    .hautPage--bouttons--texte_bleu
    {
        border-top: none;
        position: absolute;
        height: auto;
        top: 5%;
        right: 10%;
    }
    .hautPage--bouttons--texte_bleu:hover
    {
        border: none;
    }

    .sectionRecherche
    {
        grid-area: 2/1/3/2;
        height: 100%;
        width: 96%;
        margin-right: 2%;
        margin-left: 2%;
        margin-top: 1%;
        margin-bottom: 10%;
    }
    .sectionRecherche--titre
    {
        width: 90%;
        margin-top: 5%;
        margin-left: 5%;
    }
    .sectionRecherche--recherche
    {
        margin-top: 6%;
        margin-bottom: 3%;
        margin-left: 5%;
        width: 85%;
        height: 50px;
    }
    .sectionRecherche--recherche--boutton
    {   
        padding-top: 0px;
        width: 17%;
        border-radius: 15px;
        font-size: 0pt;
        color: transparent;
    }
    .sectionRecherche--recherche--boutton i
    {
        transform: scale(1);
        opacity: 100%;
        padding-left: 45%;
        padding-top: 0%;
        background-color: transparent;
        color: white ;
    }
    .sectionRecherche--recherche--boutton i:hover
    {
        color: #0065FC ;
    }
    .sectionRecherche--recherche--boutton:hover
    {
        color: transparent;
    }
    .sectionRecherche--recherche i
    {
        font-size: 12pt;
        width: 17%;
    }
    .sectionRecherche--recherche--inpt
    {
        width: 80%;
        font-size: 1.05rem
    }
    
    .sectionRecherche--filtres
    {
        width:90%;
        height: 50%;
        margin-left: 5%;
        align-items: unset;
        flex-direction: column;
        justify-content: flex-start;
    }
    .container--bouttons
    {
        flex-wrap: wrap;
        width:90%;
        height: 75%;
    }
    .sectionRecherche--filtres--bouttons
    {
        border-radius: 100px;
    }
    .sectionRecherche--filtres--bouttons i
    {
        font-size: 12pt;
        border-radius: 100px;
    }
    .sectionRecherche--info
    {
        width: auto;
        height: auto;
        margin-top: -15px;
        align-items:space-between;
        margin-left: 5%;
        margin-right: 5%;
    }
    .sectionRecherche--info i
    {
        font-size: 1rem;
        margin-bottom: 5.5%;
        margin-right: 3%;
        width: 20px;
        height: 20px;
        border-radius:100%;
        border:1px #F2F2F2;
    }
    #sectionHebergements
    {
        grid-area: 4/1/5/2;
        background-color: white;
        display: flex;
        flex-direction: column;
        margin: 0%;
        height: 100%;
    }
    .sectionHebergements--hebergement
    {
        width: 93%;
        margin-left: 3.5%;
        margin-right: 3.5%;
        height: 95%;
    }
    .sectionHebergements--hebergement--vignette
    {
        width: 100%;
        height: 98%;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .sectionHebergements--hebergement--titre
    {
        margin-left: 1%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .sectionHebergements--hebergement--vignette--case
    {
        width: 100%;
        height: 195px;
        margin-bottom: 8%;
        
    }
    .sectionHebergements--hebergement--vignette--case--img
    {
        width: 97%;
        margin-top: 1.5%;
        margin-left: 1.5%;
        margin-right: 1.5%;

    }
    .sectionHebergements--hebergement--vignette--case h2
    {
        margin-top: 0%;
    }
    .sectionHebergements--hebergement--vignette--case--txt2
    {
        font-size: 1.05rem;
    }
    .sectionHebergements--hebergement--vignette--case--etoiles
    {
        margin-top: 0.5%;
    }
    .sectionHebergements--hebergement--vignette--case--etoiles .fas
    {
        font-size: 10pt;
    }
    .sectionHebergements--hebergement--vignette--case--etoiles .far
    {
        font-size: 10pt;
    }
    .sectionHebergements--affch h2
    {
        margin-top: 0%;
    }

    .sectionPopulaires
    {
        grid-area: 3/1/4/2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0%;
        border-radius: 0px;
    }
    .sectionPopulaires--titre
    {
        margin-bottom: 4%;
        margin-left: 5%;
        font-size: 1.2rem;
    }
    .sectionPopulaires--vignette
    {
        width: 90%;
        height: 25%;
        margin-right: 5%;
        margin-left: 5%;
        align-items: center;
    }
    .sectionPopulaires--vignette--img
    {
        margin-left: 1%;
    }
    .sectionPopulaires--vignette h2
    {
        width: 95%;
        margin-top: -3%;
        margin-right: 20%;
    }
    .sectionPopulaires--vignette--blcTxt-txt2
    {
        font-size: 0.95rem;
    }
    .sectionPopulaires--vignette--blcTxt-etoiles
    {
        margin-top: 14%;
    }
    .sectionPopulaires--vignette--blcTxt-etoiles .far
    {
        font-size: 10pt;
    }
    .sectionPopulaires--vignette--blcTxt-etoiles .fas
    {
        font-size: 10pt;
    }
    #sectionActivites
    {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        grid-area: 5/1/6/3;
        display: flex;
        flex-direction: column;
        justify-content: unset;
    }
    #sectionActivites h1
    {
        margin-bottom: 6%;
    }
    .sectionActivites--vignettes
    {
        flex-direction: column;
    }
    .sectionActivites--vignettes--grandeVignette
    {
        width: 100%;
        height: 195px;
        margin-bottom: 5%;
    }
    .sectionActivites--vignettes--petitesVignettes
    {
        width: 100%;
        height: 45%;
        margin-bottom: 5%;
    }
    .sectionActivites--vignettes--grandeVignette--img
    {
        height: 85%;
    }
    .sectionActivites--vignettes--grandeVignette h2
    {
        margin-top: 1%;
    }
    .sectionActivites--vignettes--petitesVignettes--case
    {
       
        margin-bottom: 5%;
        height: 195px;
        box-shadow: 1px 1px 6px #8686863b;
    }
    .sectionActivites--vignettes--petitesVignettes--case h2 
    {
        margin-top: 1px;
    }
    .sectionActivites--vignettes--petitesVignettes--case1
    {
        
        height: 195px;
    }
    .sectionActivites--vignettes--petitesVignettes--case1 h2 
    {
        margin-top: 1px;
    }
    .sectionActivites--petitesVignettes--case--img1
    {
        height: 85%;
    }
    .sectionActivites--vignettes--petitesVignettes--case2
    {
        
        margin-top: 5%;
        height: 195px;
    }
    .sectionActivites--vignettes--petitesVignettes--case2 h2 
    {
        margin-top: 1px;
    }
    .sectionActivites--petitesVignettes--case--img2
    {
        height: 85%;
    }
    .basPage
    {
        grid-area: 6/1/7/2;
        flex-direction: column;
        margin-left: 0;
        height: 100%;
    }
    .basPage--colonne
    {
        margin-left: 5%;
        margin-top: 0%;
    }
    .basPage--colonne--txt
    {
        font-size: 0.95rem;
        margin-bottom: 1%;
    }
}

