@font-face {
    font-family: "Raleway";
    src: url("polices/Raleway-VariableFont_wght.ttf") format("truetype");
         
    font-weight: normal;
    font-style: normal;
}
body
{
    width: 1366px;
    height: 1884px;
    border:solid;
    margin: auto; 
    padding: auto;
    font-family:Raleway;
    display: grid;
    grid-template:repeat(40,1fr)/repeat(40,1fr) ;
}

/*Partie menu*/
.hautPage
{
    border:solid;
    grid-area: 1/2/4/40;
}

/*Section recherche*/
.section1
{
    border: solid;
    grid-area: 4/2/8/40;
}

/*Section cases hébergements*/
.section2
{
    border: solid;
    grid-area : 8/2/18/24;
}

/*Section cases populaires*/
.section25
{
    border: solid;
    grid-area: 8/26/18/40;
}

/*Section cases activités*/
.section3
{
    border:solid;
    grid-area: 20/2/32/40;;
}

/*Section bas de page*/
.basPage
{
    border:solid;
    grid-area:33/1/41/41;
}